.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-display-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 5rem 0;
}

.timer-display-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timer-display-value {
  font-size: 3rem;
  font-weight: bold;
  height: 100px;
  width: 100px;
  text-align: center;
}
